@import "../../../Style/breakpoints";
@import "../../../Style/variables";

.contact-form {
  .inputs-row {
    .input-container {
      width: 100%;
      margin-bottom: 15px;

      @include sm-size {
        width: calc(50% - 20px);
        margin-bottom: 25px;
      }

      &.message-input {
        height: 210px;

        @include sm-size {
          width: 100%;
          height: 280px;
        }

        textarea {
          height: 100%;
          resize: none;
        }
      }

      input,
      textarea {
        position: relative;
        width: 100%;
        padding: 8px 15px 17px 15px;
        transform: translate(9px, 9px);
        background-color: #000000;
        opacity: 0.6;
        z-index: 10;
        color: #ffffff;
        transition: 0.25s ease-in-out;

        @include sm-size {
          padding: 6px 17px 15px 17px;
          transform: translate(12px, 12px);
        }
      }

      input:-webkit-autofill,
      input:-webkit-autofill:hover,
      input:-webkit-autofill:focus,
      input:-webkit-autofill:active {
        -webkit-box-shadow: 0 0 0 30px #000000 inset !important;
      }

      input:-webkit-autofill {
        -webkit-text-fill-color: #ffffff !important;
      }

      .input-border {
        border: 1px solid #000000;
        width: 100%;
        height: 100%;
        z-index: 0;
      }

      &:focus,
      &:focus-within {
        transform: translate(0, 0);

        input,
        textarea {
          padding: 12px 15px 13px 15px;
          outline-color: $accent_color;
          transform: translate(0, 0);

          @include sm-size {
            padding: 10px 17px 11px 17px;
          }
        }
      }
    }
  }
}
