@import "../../Style/breakpoints";
@import "../../Style/variables";

.about {
  .image-container {
    padding-bottom: 15px;

    @include sm-size {
      padding: 0 0 0px 0;
    }

    @include lg-size {
      padding: 0 20px 170px 0;
    }

    @include xl-size {
      padding: 0 70px 170px 0;
    }

    @include xxl-size {
      padding: 0 160px 170px 0;
    }

    .back-image {
      border: 2px solid white;
      box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.18);

      @include sm-size {
        box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.2);
      }
    }
  }

  .text-area {
    margin-top: 20px;

    @include sm-size {
      margin-top: 50px;
    }

    @include lg-size {
      margin-top: 0;
      padding-left: 30px;
    }

    p {
      margin-bottom: 10px;

      @include sm-size {
        margin-bottom: 15px;
      }

      @include lg-size {
        margin-bottom: 10px;
      }

      &.first-paragraph {
        margin-bottom: 25px;

        @include lg-size {
          margin-bottom: 40px;
        }
      }

      &.projects-link {
        margin-bottom: 0;
        margin-top: 20px;

        @include sm-size {
          margin-bottom: 0;
          margin-top: 30px;
        }

        @include lg-size {
          margin-bottom: 0;
          margin-top: 80px;
        }

        a {
          color: $accent_color;
          font-size: $p_font_size_mobile;
          font-weight: bold;

          @include sm-size {
            font-size: $p_font_size_tablet;
          }

          @include lg-size {
            font-size: $p_font_size_desktop;
          }
        }
      }

      span {
        color: $accent_color;
        font-weight: bold;
      }
    }
  }
}
