@font-face {
  font-family: "Germany Sans";
  src: url("./fonts/Germany-Sans.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "Noto Sans JP";
  src: url("./fonts/Noto-Sans-JP-Medium.otf");
  font-weight: bold;
}

@font-face {
  font-family: "Noto Sans JP";
  src: url("./fonts/Noto-Sans-JP-Regular.otf");
  font-weight: normal;
}

@font-face {
  font-family: "Noto Sans JP";
  src: url("./fonts/Noto-Sans-JP-Light.otf");
  font-weight: lighter;
}
