h1,
h2,
h3,
.custom-primary-font {
  font-family: "Germany Sans";
  font-weight: normal;
}

p,
a,
button,
input,
span,
.custom-secondary-font {
  font-family: "Noto Sans JP";
  font-weight: lighter;
}

h1 {
  font-size: $h1_font_size_mobile;

  @include sm-size {
    font-size: $h1_font_size_tablet;
  }

  @include xl-size {
    font-size: $h1_font_size_tablet + 10px;
  }

  @include xxl-size {
    font-size: $h1_font_size_desktop;
  }
}

h2 {
  font-size: $h2_font_size_mobile;
  margin-bottom: $h2_bottom_margin_mobile;

  @include sm-size {
    font-size: $h2_font_size_tablet;
    margin-bottom: $h2_bottom_margin_table;
  }

  @include lg-size {
    font-size: $h2_font_size_desktop;
    margin-bottom: $h2_bottom_margin_desktop;
  }
}

h3 {
  font-size: $h3_font_size_mobile;

  @include sm-size {
    font-size: $h3_font_size_tablet;
  }

  @include lg-size {
    font-size: $h3_font_size_desktop;
  }
}

p {
  font-size: $p_font_size_mobile;

  @include sm-size {
    font-size: $p_font_size_tablet;
  }

  @include lg-size {
    font-size: $p_font_size_desktop;
  }
}

button,
a {
  font-size: $button_font_size_mobile;
  text-transform: capitalize;

  @include sm-size {
    font-size: $button_font_size_tablet;
  }

  @include lg-size {
    font-size: $button_font_size_desktop;
  }
}

input,
textarea {
  font-size: $input_font_size_mobile;

  @include sm-size {
    font-size: $input_font_size_tablet;
  }

  @include lg-size {
    font-size: $input_font_size_desktop;
  }
}

.section {
  margin-bottom: $section_bottom_margin_mobile;
  padding: $section_padding_mobile;

  @include sm-size {
    max-width: $section_max_width_tablet;
    margin: auto;
    margin-bottom: $section_bottom_margin_tablet;
    padding: $section_padding_tablet;
  }

  @include lg-size {
    max-width: $section_max_width_desktop;
    margin-bottom: $section_bottom_margin_desktop;
    padding: $section_padding_desktop;
  }
}
