$accent_color: #de1738;

// FONT SIZE
$h1_font_size_desktop: 60px;
$h1_font_size_tablet: 38px;
$h1_font_size_mobile: 25px;

$h2_font_size_desktop: 50px;
$h2_font_size_tablet: 33px;
$h2_font_size_mobile: 25px;

$h3_font_size_desktop: 35px;
$h3_font_size_tablet: 25px;
$h3_font_size_mobile: 22px;

$p_font_size_desktop: 23px;
$p_font_size_tablet: 19px;
$p_font_size_mobile: 16px;

$button_font_size_desktop: 25px;
$button_font_size_tablet: 22px;
$button_font_size_mobile: 18px;

$input_font_size_desktop: 18px;
$input_font_size_tablet: 16px;
$input_font_size_mobile: 14px;

// SPACING
$h2_bottom_margin_desktop: 100px;
$h2_bottom_margin_table: 70px;
$h2_bottom_margin_mobile: 40px;
