@import "../../Style/breakpoints";
@import "../../Style/variables";

.footer {
  padding-top: 30px;
  margin-bottom: 50px;

  @include sm-size {
    padding-top: 20px;
    margin-bottom: 80px;
  }

  @include lg-size {
    padding-top: 10px;
    margin-bottom: 110px;
  }

  .social-media-links {
    margin-left: 30px;

    @include sm-size {
      margin-left: 50px;
    }

    a {
      margin-right: 10px;

      @include sm-size {
        margin-right: 15px;
      }

      svg {
        width: 23px;
        height: auto;

        @include sm-size {
          width: 25px;
        }

        @include lg-size {
          width: 30px;
        }

        path {
          transition: 0.2s ease-in-out;
        }
      }

      &:hover {
        svg {
          path {
            fill: $accent_color;
          }
        }
      }
    }
  }
}
